<div class="header">
    <div class="logo">
        <img src="assets/b-circle-trans-100.png" alt="logo" width="50" height="46" >
    </div>

    <div class="title">Black Friday Deals!</div>

    <!-- a connection status traffic light -->
    <div class="trafficlight">
        <div class="heading">Connection Status: </div>
        <div class="light red" id="trafficlight"></div>
    </div>
</div>

<div class="main-page">
    <div *ngFor="let deal of deals" class="deal">
        <div class="ribbon-wrapper">
            <div *ngIf="deal.state === 'STARTING'" class="ribbon starting">Coming Soon</div>
            <div *ngIf="deal.state === 'CLOSING'" class="ribbon closing">Closing</div>
            <div *ngIf="deal.state === 'CLOSED'" class="ribbon closed">Closed</div>
        </div>
        <img class="image" src="{{deal.product.image}}" alt=""/>
        <div class="name">{{deal.product.name}}</div>
        <div class="description">{{deal.product.description}}</div>
        
        <div class="progress" *ngIf="deal.progress > 0 ">
            <div class="progress-bar progress-bar-success progress-bar-striped" 
                 role="progressbar" [attr.aria-valuenow]="deal.progress" aria-valuemin="0" aria-valuemax ="100" 
                 style="min-width: 2em;"
                 [ngClass]="'progress-' + deal.state" 
                 [style.width]="(deal.progress/100)*100 + '%'">
            </div>
        </div>

        <div class="price-wrapper">
            <div class="price">£ {{deal.product.price}}</div>
        </div>
    </div>
</div>